:root {
    --titulo: #77ffc0;
    --subtitulo: #00ff88;
    --cor-button: #2b134b;
    --placeholder-1: #f0ffffde;
    --placeholder-2: #f0ffff94;
    --bg: #201b2c;
    --bg-card: #2f2841;
    --bg-input: #514869;
    --shadow: #00000056;
    --shadow-2: #00ff8052;
}