@import url(_reset.css);
@import url(_variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');


body {
    font-family:'Poppins', sans-serif;
}

body * {
    box-sizing: border-box;
}