.main__login {
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    background: var(--bg);
    display: flex; /*lado a lado */
    justify-content: center; /* Eixo X */
    align-items: center; /* Eixo Y */
}

.left__login {
    width: 50vw; /* Ocupa apenas 50% da tela */
    height: 100vh; /* Ocupa altura inteira da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.left__title { /* Chamando uma Tag */
    font-weight: 800;
    font-size: 3vw;
    color: var(--titulo);
}

.left__img {
    width: 35vw;
}

.right__login {
    width: 50vw; /* Ocupa apenas 50% da tela */
    height: 100vh; /* Ocupa altura intera da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__login {
    width: 60%; /* Usa o espaço da div */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /* O primeiro valor se refere ao eixo Y.  O segundo vakor se refere ao eixo X */
    background: var(--bg-card);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--shadow);
}

.card__subtitulo {
    color: var(--subtitulo);
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column; /* O align-items passa a ser o eixo X.. O justify-content passa a ser o eixo Y */
    align-items: flex-start; /* Esquerda */
    justify-content: center;
    margin:10px;

}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: var(--placeholder-1);
    font-size: 12pt;
    background: var(--bg-input);
    box-shadow: 0px 10px 40px var(--shadow);
    box-sizing: border-box;
    outline: none; /* Remover caixa que aparece ao clicar */
}

.textfield > label {
    color: var(--placeholder-1);
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: var(--placeholder-2);
}

.btn__login {
    width: 100%;
    padding: 16px 0px;
    margin: 25;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    color: var(--cor-button);
    background: var(--subtitulo);
     /* curso de ação */
    box-shadow: 0px 10px 40px -12px var(--shadow-2);
}

